<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Content-Security-Policy "default-src 'self' https: 'unsafe-inline' 'unsafe-eval'; style-src 'self' https: 'unsafe-inline'; script-src 'self' https: 'unsafe-inline' 'unsafe-eval'; font-src 'self' https: data:;"
</IfModule>